.steps {
  align-self: center;
  margin-top: 10px;
}

.step {
  align-self: center;
 }

.substeps {
  align-self: center;
   
}

.error {
  align-self: center;
  margin-top: 20px;
  color: orange;
   
}

.toggleSubsteps {
  cursor: pointer;
  user-select: none;
  color: #072f5c;
  
}

.latex {
  padding: 7px 0;
 
}

.changeDescription {
  color: #2196f3;
  
  padding: 5px 0;
}

@media only screen and (max-width: 480px) {
 

  .toggleSubsteps {
    cursor: pointer;
    user-select: none;
    color: #072f5c;
    align-self: center;
    
  }

  .latex {
    padding: 7px 0;
    margin: auto;
     align-self: center;

  }
  .changeDescription {
    color: #2196f3;
    margin: auto;
    align-self: center;

 
    padding: 10px 0;
  }
}
  